body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f59e0b;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#f59e0b;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#111827;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#111827;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#f9fafb 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#f59e0b;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('showcase.jpg');
  background-position: center;
  text-align:center;
  color:#ffffff;
    background-repeat: fixed;
    animation: gradientBG 15s ease infinite;
    overflow: hidden;
}

@keyframes gradientBG{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}


#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#111827;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
  transition: transform 0.3s ease, background 0.3s ease;
}
.box img:hover{
  transform: scale(1.1);
}
/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #f59e0b solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#111827;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box, .showcase,
  article#main-col,
  aside#sidebar, .art article,
  .sect2 .sect1, h3, .about{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: #f59e0b;
  color: #0f172a;
  border-radius: 50%;
  font-size: 20px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  background: #f59e0b; /* darker yellow */
}
.sect1 a, .sect2 a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: blue;
  font-size: 12px;
  transition: transform 0.3s ease, background 0.3s ease;
}
.sect1 a:hover{
  transform: scale(1.1);
  color: #f59e0b; 
}

.sect2 a:hover{
  transform: scale(1.1);
  color: #f59e0b; 
}

.art {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.about{
  padding: 0;
  margin: 0;
  width: 300px;
}

.pp{
  font-size: 11px;
  float: left;
  text-align: left;
}
.ppp {
  padding-top: 20px;
  font-size: 10px;
}